body {
    background-color: antiquewhite;
}

.box {
    width: 40%;
    margin: 100px auto;
    padding: 15px;
    /* background-color: burlywood; */
    background-color: grey;
}

.butn {
    font-family:Georgia, 'Times New Roman', Times, serif ;
    width: 19%;
    background-color: lightgrey;
    height: auto;
    padding: 20px;
    font-size: large;
    margin-top: 0.3%;
    border-radius: 7%;
}

.butn:hover {
    background-color: rgb(54,69,79);
    color: white;
}

.display {
    width: 93%;
    justify-content: center;
    margin-bottom: 3px;
    padding: 2.3%;
}

.oper {
    background-color: greenyellow;
}

.calc {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}